@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
  background-color: #f4f6f5;
}

.left-side{
  position: relative;
  background-image: url('./images/img1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.left-side::before{
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.7)
}
.left-side-icon{
  position: relative;
}
.left-side-icon img{
  margin: 1rem 0 0 2rem;
  width: 5rem;
}

.left-side-text{
  position: relative;
  color:#fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.left-side-text h1{
  font-size: 3.7rem;
}
.left-side-text p{
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: lighter;
}

.left-side-text .btn-style{
  margin: 2rem 0;
  width:11rem;
  color: #fff;
  border: 1px solid #fff;
  font-size: 1.5rem;
}

.right-side-form{
  height: 88vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: start; */
}

.form-head{
  margin-bottom: 3.5rem;
}
.form-head h1{
  font-size: 3.5rem;
}
.form-head p{
  font-size: 1.5rem;
}

.data-input{
  position: relative !important;
  margin-bottom: 2rem;
}

.data-input label{
  font-size: 1.3rem;
}

.data-input input {
  width: 40rem;
  height: 3.5rem;
}

.input-form .btn-style{
  margin-top: 1.5rem;
  font-size: 1.4rem;
  width: 10rem;
}

.imput-icon{
  position: absolute;
  top:2.6rem;
  left:93%;
}
.imput-icon i{
  font-size: 1.5rem;
}